{# search for a restaurant card #}

{% extends 'base.html.j2'%}
{% block title %}
Grab a Bite
{% endblock %}

{% block content %}
<br> 
<br>
<br>
<br>
<br>
<br>
<br>
<br> 
<h6> You look like you could use something to eat! </h6>

<form action ="{{url_for('main.bite')}}" method="POST">
{{ form.hidden_tag()}}
    <div class="mb-3">
       {{form.location.label (class = "form-label")}}
       {{form.location(class = "form-control")}}
    </div>
<div>
{{form.submit(class="btn btn-primary form-control")}}
</div>
</form>
<br>
<br>
{% if bite %}
    
    
    <p class="card-text">{{bite.name}}</p>
    <div class="card" style="width: 25rem;">
    <img src="{{bite.image_url}}" class="card-img-top" alt="...">
    <div class="card-body">
        <p class="card-text">{{bite.categories}}</p>
        <a href="{{url_for('main.add_to_my_bites', id=bite.id, city=city)}}" class="btn btn-primary">Grab a Bite</a><a href="{{url_for('main.bite')}}" class="btn btn-primary">Pass</a>
        <br>
        
    </div>
    </div>
{% endif %}

{% endblock %}