{% extends 'base.html.j2'%}

{% block title %}
Homepage
{% endblock %}

{% block content %}
<br>
<br>
<br>
<br>
<br>
<div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="https://res.cloudinary.com/dentfkaun/image/upload/c_scale,h_450/v1656007512/Welcome_to_Bite_7_pflkjg.png" class="pokes d-block w-10" alt="page_1">
    </div>
    <div class="carousel-item">
      <img src="https://res.cloudinary.com/dentfkaun/image/upload/c_scale,h_450/v1656007169/Welcome_to_Bite_5_pvnl5f.png" class="pokes d-block w-10" alt="page_2">
    </div>
    <div class="carousel-item">
      <img src="https://res.cloudinary.com/dentfkaun/image/upload/c_scale,h_450/v1656007117/Welcome_to_Bite_4_oth9kk.png" class="pokes d-block w-10" alt="page_3">
    </div>
  </div>
</div>


{% endblock %}